{% extends "base.html" %}

{% block content %}

<h2>{{exam.title}}</h2>

<form method="POST" action="/exam/submit/{{attempt.id}}/">

{% csrf_token %}

{% for q in questions %}

<div class="card">

<p><b>{{forloop.counter}}. {{q.question_text}}</b></p>

<label><input type="radio" name="{{q.id}}" value="A"> {{q.option_a}}</label><br>

<label><input type="radio" name="{{q.id}}" value="B"> {{q.option_b}}</label><br>

<label><input type="radio" name="{{q.id}}" value="C"> {{q.option_c}}</label><br>

<label><input type="radio" name="{{q.id}}" value="D"> {{q.option_d}}</label>

</div>

{% endfor %}

<button type="submit">Submit Exam</button>

</form>

{% endblock %}