{% extends "base.html" %}
{% block content %}

<h2>Teacher Profile</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="name" placeholder="Full Name"><br><br>
    <input type="text" name="phone" placeholder="Phone"><br><br>
    <input type="text" name="institution" placeholder="Institution"><br><br>

    <input type="text" name="subject" placeholder="Subject"><br><br>
    <input type="number" name="experience" placeholder="Experience"><br><br>

    <input type="date" name="dob"><br><br>

    <input type="file" name="image"><br><br>
    <input type="file" name="id_card"><br><br>

    <button>Save</button>
</form>

{% endblock %}